@import "tailwindcss";

/* Importando fontes Poppins em .ttf */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Classes para diferentes pesos */
.text-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.text-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.text-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.text-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.text-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body {
    font-family: "Poppins";
    font-style: normal;
    line-height: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9CA3AF; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
  display: none;
}

/* General styles for buttons */

.largeButton {
    display: inline-flex;
    height: 56px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #3B82F6;
    color: #F1F5F9;
}

.largeButton:hover {
    background: #2563EB;
    box-shadow: 0 4px 7.7px 0 rgba(37, 99, 235, 0.24);
}

.largeButton:active {
    background: #1D4ED8;
}

.largeButton:disabled {
    background: #94A3B8;
    cursor: not-allowed;
}

.MediumButton {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #3B82F6;
    color: #F1F5F9;
}

.MediumButton:hover {
    background: #2563EB;
    box-shadow: 0 4px 7.7px 0 rgba(37, 99, 235, 0.24);
}

.MediumButton:active {
    background: #1D4ED8;
}

.MediumButton:disabled {
    background: #94A3B8;
    cursor: not-allowed;
}

.SmallButton {
    display: inline-flex;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: #3B82F6;
    color: #F1F5F9;
}

.SmallButton:hover {
    background: #2563EB;
    box-shadow: 0 4px 7.7px 0 rgba(37, 99, 235, 0.24);
}

.SmallButton:active {
    background: #1D4ED8;
}

.SmallButton:disabled {
    background: #94A3B8;
    cursor: not-allowed;
}

.checkBox {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

input[type="checkbox"].checkBox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #3B82F6;
    border-radius: 6px;
    background: #fff;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.2s;
    vertical-align: middle;
    margin: 0;
}

input[type="checkbox"].checkBox:checked {
    background-color: #3B82F6;
    border-color: #3B82F6;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path d='M8 12.5L11 15.5L16 9.5' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-decoration {
    display: none !important;
}

.backgroundLogin {
    border-radius: 24px;
    overflow: hidden;
    background: 
        linear-gradient(rgba(59, 130, 246, 0.75), rgba(59, 130, 246, 0.75)),
        url('/images/auth/backgroundLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}



.pr-15 {
    padding-right: calc(var(--spacing) * 15.5); /* 3.875rem = 62px */
}

.pl-25{
   padding-left: calc(var(--spacing) * 26); /* 6.5rem = 104px */
}

.w-25 {
   width: calc(var(--spacing) * 24.6); /* 6.15rem = 98.4px */
}

.pr-30 {
    padding-right: calc(var(--spacing) * 30); /* 7.5rem 120px */
}

.pl-31_5 {
    padding-left: calc(var(--spacing) * 31.5); /* 7.875rem 126px */
}

.w-18 {
    width: calc(var(--spacing, 0.25rem) * 18);   /* 72px = 0.25rem * 18 */
}

.h-26 {
    height: calc(var(--spacing, 0.25rem) * 26);  /* 104px = 0.25rem * 26 */
}